[Desktop Entry]
Version=1.0
Type=Application
Name=BlaziumHub
Comment=BlaziumHub for editors and projects
Exec=/opt/blazium/engine/blazium-hub
Icon=blazium-hub
Terminal=false
Categories=Development;IDE;
StartupNotify=true
