[Desktop Entry]
Version=1.0
Type=Application
Name=Blazium Hub
Comment=Desktop Hub for Blazium editors and projects
Exec=/usr/bin/blazium-hub
Icon=blazium-hub
Terminal=false
Categories=Development;IDE;
StartupNotify=true
